{% load static %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% title %}</title>
</head>
<body>
    <h3>{{ category.title }}</h3>
    {% for article in category.articles.published %}
        <a href="{{article.slug}}">{{article.title}}</a>
        <small> {{article.jpublished}} </small>
        <article> {{article.content|truncatechars:200|linebreaks}} </article>
        <br>
    {% endfor %}    
</body>
</html>