{% load static %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% title %}</title>
</head>
<body>
    <h3>{{ category.title }}</h3>
    {% for article in articles %}
        <a href="{{article.slug}}">{{article.title}}</a>
        <small> {{article.jpublished}} </small>
        <article> {{article.content|truncatechars:200|linebreaks}} </article>
        <br>
    {% endfor %}    

    <ul>
        {% if articles.has_next %}
        <li><a href="{% url 'blog:category_view' category.slug articles.next_page_number %}">پست های قبلی</a></li>
        {% endif %}
        {% if articles.has_previous %}
        <li><a href="{% url 'blog:category_view' category.slug articles.previous_page_number %}">پست های جدید</a></li>
        {% endif %}
    </ul>
</body>
</html>